html
{
    display: inline;
}
body
{
    display: inline;
}
.container-header
{
    justify-content: center;
    display: flex;
    width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
    height: 200px;
    background-color: aqua;
}
.container-section-promo
{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.item-article
{
    width: 30%;
    height: 100px;
    background-color: aqua;
=======
    height: 100px;
    background-color: aqua;
=======
    height: 100px;
    background-color: aqua;
}
.Cuerpo-imagen-video
{
    display: flex;
    flex-direction: column;
>>>>>>> 87d9647196362e446e3220c793ac96c7a54eafd4
}
.Cuerpo
{
    width: 80%;
    height: 700px;
    display: inline-flex;
    background-color: chartreuse;
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: space-around;
>>>>>>> 87d9647196362e446e3220c793ac96c7a54eafd4
    align-items: center;
}
.aside
{
    
    width: 20%;
    height: 700px;
    float: right;
}
.aside-publicidad
{
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
<<<<<<< HEAD
>>>>>>> d88c3d0210f9a78313df699d6707e46c24e9ebb6
}
=======
}


>>>>>>> 87d9647196362e446e3220c793ac96c7a54eafd4
